[submodule "roles/cdg.grav/files/sites/redhat"]
        path = roles/cdg.grav/files/sites/redhat
        url = https://github.com/CesarTest/redhat.git

[submodule "roles/cdg.grav/files/sites/maas"]
	path = roles/cdg.grav/files/sites/maas
	url = https://github.com/CesarTest/maas.git
